:root{
    --textcolor: #f9fcff;
    --smalltextcolor: #2d6eaf;
    --backgroundcolor: #96c8fa;
    --moveee: 10vw;
    --textshadow: #4a94df;
}
body{
    background-color: var(--backgroundcolor);
    font-family: 'Audiowide', cursive;
    margin: 0;
    overflow: hidden;
}
#topbar {
    position: absolute;
    margin-top: 1vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--textcolor);
    padding: 1vw;
    border-radius: 30px;
    top: 6vh;
    font-size: 2vw;
    width: 80vw;
    top: 13vh;
    text-shadow: 10px 10px var(--textshadow);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 3px;
    text-shadow: -1px 1px 0 var(--textshadow),
    10px 10px 0 var(--textshadow),
   2px -2px 0 var(--textshadow),
  -2px -2px 0 var(--textshadow);
}
#mommy{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(99% - 50px);
    width: 90vw;
    top: 30vw;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    background-color: transparent;
    text-shadow: 0;
    font-family: 'Audiowide', cursive;
    color: #14375a;
}

.match {
    width: 12%;
    overflow-y: auto;
    position: absolute;
    padding: 1.3vw;
    border-radius: 30px;
}
.match h5{
    text-decoration: underline;
    margin: 0px 0px;
    color: #2d6eaf;
    font-size: .9vw;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
}
.match input {
    max-width: 100px;
}
button{
    background-color:#2d6eaf;
    color: #fff;
    border-radius: 30px;
    border-color: #2d6eaf;
    margin-left: 5px;
}
.left div {
    padding: 2px;
    padding-right: 10px;
    border-bottom: 1px solid #2d6eaf;
    border-right: 1px solid #2d6eaf;
    text-align: right;
}
.right div {
    padding: 2px ;
    padding-left: 10px;
    border-bottom: 1px solid #2d6eaf;
    border-left:  1px solid #2d6eaf;
    text-align: left;
}
#R1GA {
    color: var(--smalltextcolor);
}
#R1GB {
    top: 23.5%;
    color: var(--smalltextcolor);
}
#R1GC {
    color: var(--smalltextcolor);
    top: 47%
}
#R1GD {
    color: var(--smalltextcolor);
    top: 70.5%
}

#R1GE {
    color: var(--smalltextcolor);
    top: 0%;
    right: 0%;
}
#R1GF {
    color: var(--smalltextcolor);
    top: 23.5%;
    right: 0%;
}
#R1GG {
    color: var(--smalltextcolor);
    top: 47%;
    right: 0%;
}
#R1GH {
    color: var(--smalltextcolor);
    top: 70.5%;
    right: 0%;
}

#R2GA {
    color: var(--smalltextcolor);
    top: 17%;
    left: 18%;
}
#R2GB {
    color: var(--smalltextcolor);
    bottom:20%;
    left: 18%;
}
#R2GC {
    color: var(--smalltextcolor);
    top:17%;
    right: 18%;
}
#R2GD {
    color: var(--smalltextcolor);
    bottom:20%;
    right: 18%;
}

#R3GA {
    color: var(--smalltextcolor);
    top:35%;
    left: 32%;
}
#R3GB {
    color: var(--smalltextcolor);
    top: 35%;
    right: 32%;
}

#R4GA{ 
    color: var(--smalltextcolor);
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    border: 1px solid #2d6eaf;
    text-align: center;
}


.confirmbu{
    background-color: transparent;
    border: transparent;
    color: var(--smalltextcolor);
    font-weight: bolder;
    font-size: 1vw;
    transition:  all 0.3s;
}
.confirmbu:hover{
    transform: scale(1.25) translate(0%, -12.5%);
    text-shadow: 1px 1px 2px var(--textshadow);
}