#topbar {
    position: fixed;
    top:0px;
    left: 0px;
    height: 50px;
    width: 100vw;
    background-color: blue;
    text-align: center;
}
#mommy{
    position: absolute;
    top:55px;
    left:0px;
    height: calc(99% - 50px);
    width: 100vw;
}

.match {
    width: 12%;
    max-width: 200px;
    height: 20%;
    max-height: 20%;
    overflow-y: auto;
    position: absolute;
}
.match h5{
    text-decoration: underline;
    margin: 0px 0px;
}
.match input {
    max-width: 100px;
}
.left div {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    text-align: right;
    padding: 2px ;
    padding-right: 10px;
}
.right div {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    text-align: left;
    padding: 2px ;
    padding-left: 10px;
}
#R1GA {
    width: 16%;
}
#R1GB {
    width: 16%;
    top: 23.5%
}
#R1GC {
    width: 16%;
    top: 47%
}
#R1GD {
    width: 16%;
    top: 70.5%
}

#R1GE {
    width: 16%;
    top: 0%;
    right: 0%;
}
#R1GF {
    width: 16%;
    top: 23.5%;
    right: 0%;
}
#R1GG {
    width: 16%;
    top: 47%;
    right: 0%;
}
#R1GH {
    width: 16%;
    top: 70.5%;
    right: 0%;
}